body {
  background-image: url("../img/background.jpeg");
  background-repeat: none;
  background-size: cover;
}

.container {
  background-color: white;
}

#logo {
  margin-left: 200px;
}

.pic {
  height: 50px;
  width: 150px;
}

.greenClass {
  background-color: green;
  opacity: .7;
}

.redClass {
  background-color: red;
  opacity: .7;
}

.blueClass {
  background-color: blue;
  opacity: .7;
}

table, td {
  border: 1px solid black;
  padding: 10px;
}

.space {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 16px;
}


table {
  table-layout: fixed;
  width: 600px;
}


li {
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid green;
  list-style-type: none;
  margin-bottom: 5px;
}

ol > li {
  list-style-type: none;
}

#whoseTurn {
  font-size: 24px;
  font-weight: bold;
}

form {
  margin: 10px;
}

.player2startupscreen, .player1updates, .player2updates {
  display: none;
}

.blue {
  background-color: blue;
}

.gameOver {
  display: none;
  text-align: center;
}

/*.statusSunk {
  color: red;
  font-weight: bold;
}*/

/*.statusSafe {
  color: green;
}*/
